body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

header{
    background: rgb(131, 199, 219);
    height: 50px;
    width: 100%;
    margin: 0;
    text-align: right;
    line-height: 50px;
    color: rgb(168, 45, 45);
    padding-right: 15px;
    position: relative;
}

header .Fotoperfil{
    background-image: url('https://lh3.googleusercontent.com/ogw/AF2bZyhQ48_0QGzgPEXG4nX_0KMmjNCEagihZF2UjR46ZDpuow=s64-c-mo');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    margin: 10px;
    margin-left: 10;
    margin-top: 12px;
    width: 25px;
    height: 25px;
}

header .GoogleApps{
    background-image: url('https://cdn-icons-png.flaticon.com/512/80/80975.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 10px;
    margin-top: 15px;
    width: 18px;
    height: 18px;
}

header .GImagenes{
    background-position: center;
}

header .Gmail{
    background-position: center;
}

nav {
    display: block;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    float: right;
    list-style: none;
    margin: 0 10px;
    text-align: right;
    line-height: 50px;
    height: 50px;
}
/*
#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: rgb(134, 211, 210);
    padding: 40px;
}
*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
  }

main .LogoGoogle{
    margin-top: 100px;
    text-align: center;
}

.Barrabusqueda{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 600px;
}

.Barrabusqueda input{
    max-width: 600px;
    border: 1px solid rgba(189, 189, 189, 0.596);
    border-radius: 30px; /* Bordes redondeados */
    padding: 5px 153px; /* Espacio entre LogoGoogle y largo de barra */
    font-size: 18px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    box-shadow: 0 2px 5px rgba(189, 189, 189, 0.979); /*Para sombrear la barra de busqueda */
}

.BuscarG input{
    font-family: Arial, sans-serif;
    color: rgb(29, 29, 29);
    background-color: #f8f9fa;
    border:1px #f8f9fa;
    padding: 8px; /* Ancho del fondo de los inputs */
    margin: 11px 4px; /*Espacio entre las barras */
    text-align: center;
    display: flex;
    align-items: center;
}

.Suerte input{
    font-family: Arial, sans-serif;
    color: rgb(29, 29, 29);
    background-color: #f8f9fa;
    border:1px #f8f9fa;
    padding: 8px; /* Ancho del fondo de los inputs */
    margin: 11px 4px; /*Espacio entre las barras */
    text-align: center;
    display: flex;
    align-items: center;
}

#footer1{
    background: rgb(54, 141, 141);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
